*{
    background-color: rgb(12, 12, 24);
    color: white;
}
.parent_body{
    font-family: Arial, sans-serif;
    padding: 15px;
}
.header{
    font-size: 24px;
    font-weight: bold;
    color: white;
}